.banner-wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  top: var(--banner-top-offset);
  overflow-x: hidden;
  overflow-y: visible;
}

.banner {
  position: relative;
  margin: 0 auto;
  width: 939px;
  height: 353px;
  box-shadow: 3.4px 9.4px 12.8px 2.3px rgba(74, 61, 61, 0.25);
  background-image: url('/assets/marketing/banner.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
