.contact-us-wrapper {
  position: relative;
  margin-top: 122px;
}
.contact-us-wrapper > div,
.contact-us-wrapper * button,
.contact-us-wrapper
  *
  div:not([class$='content']):not([class$='wrapper']):not([class$='form']) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.contact-us {
  position: relative;
  width: 100%;
  height: 58px;
  background-image: url(./../../../assets//img/index/contactUs_big.png);
}

.contact-us-content {
  position: relative;
  margin: 92px auto 0;
  width: var(--contact-us-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-wrapper {
  position: relative;
  width: 516px;
  height: calc(494px + 70px + 64px);
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-down {
  position: relative;
  width: 516px;
  height: 494px;
  background-image: url(./../../../assets//img/index/image_down.png);
}
.orange-box {
  position: relative;
  width: 335px;
  height: 64px;
  background-image: url(./../../../assets//img/index/orangeBox.png);
  margin-left: -232px;
}

.contact-us-form {
  position: relative;
  width: 578px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 42px;
}

.enter-box {
  position: relative;
  width: 578px;
  height: 46px;
  background-image: url(./../../../assets//img/index/enterBox.png);
  box-sizing: border-box;
  font-size: 16px;
}

textarea,
input {
  position: relative;
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
}
textarea,
textarea:focus,
input,
input:focus {
  border: 0;
  outline-width: 0;
}

.enter-box::before {
  content: '';
  position: absolute;
  display: block;
  top: calc(-18px - 12px);
  left: 11px;
  width: 39px;
  height: 18px;
}
.enter-box.name:before {
  background-image: url(./../../../assets//img/index/name.png);
}
.enter-box.phone:before {
  background-image: url(./../../../assets//img/index/phone.png);
}
.enter-box.email:before {
  width: 87px;
  background-image: url(./../../../assets//img/index/email.png);
}
.enter-box.contact:before {
  width: 133px;
  background-image: url(./../../../assets//img/index/contactUsTime.png);
}
.enter-box.ask:before {
  width: 87px;
  background-image: url(./../../../assets//img/index/ask.png);
}

.enter-box.large {
  height: 181px;
  background-image: url(./../../../assets//img/index/enterBox_large.png);
}

.send-button {
  position: relative;
  width: 102px;
  height: 34px;
  background-image: url(./../../../assets//img/button/send.png);
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-top: calc(19px - 42px);
  outline: none;
}

.send-button:hover {
  background-image: url(./../../../assets//img/button/send_h.png);
}

/* .modal-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
} */

.modal-close {
  appearance: none;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
  padding: unset;
}
.modal-close:checked {
  border: 1px solid red;
}


@media (max-width: 1200px) {


  .contact-us {
    width: 100vw;
    height: 5vw;
  }

  .contact-us-content {
    --contact-us-width: 80vw;
    margin: 10vw auto 0;
    flex-direction: column;
    align-items: center;
  }
  .contact-us-form {
    align-items: center;
    gap: 5vw;
  }
  .orange-box {
    display: none;
  }

  .send-button {
    margin: 0;
  }
}