.contact-us-wrapper {
  position: relative;
  margin-top: 122px;
}
.contact-us-wrapper > div,
.contact-us-wrapper * button,
.contact-us-wrapper
  *
  div:not([class$='content']):not([class$='wrapper']):not([class$='form']) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.contact-us {
  position: relative;
  width: 100%;
  height: 58px;
  background-image: url(/assets/index/contactUs_big.png);
}

.contact-us-content {
  position: relative;
  margin: 92px auto 0;
  width: var(--contact-us-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-wrapper {
  position: relative;
  width: 516px;
  height: calc(494px + 70px + 64px);
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-down {
  position: relative;
  width: 516px;
  height: 494px;
  background-image: url(/assets/index/image_down.png);
}
.orange-box {
  position: relative;
  width: 335px;
  height: 64px;
  background-image: url(/assets/index/orangeBox.png);
  margin-left: -232px;
}

.contact-us-form {
  position: relative;
  width: 578px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 42px;
}

.enter-box {
  position: relative;
  width: 578px;
  height: 46px;
  background-image: url(/assets/index/enterBox.png);
  box-sizing: border-box;
  font-size: 16px;
}

textarea,
input {
  position: relative;
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
}
textarea,
textarea:focus,
input,
input:focus {
  border: 0;
  outline-width: 0;
  resize: none;
}

.enter-box::before {
  content: '';
  position: absolute;
  display: block;
  top: calc(-18px - 12px);
  left: 11px;
  width: 100%;
  height: 18px;
  background-repeat: no-repeat;
}
.enter-box.name:before {
  background-image: url(/assets/index/name.png);
}
.enter-box.phone:before {
  background-image: url(/assets/index/phone.png);
}
.enter-box.email:before {
  /* width: 87px; */
  background-image: url(/assets/index/email.png);
}
.enter-box.contact:before {
  /* width: 133px; */
  background-image: url(/assets/index/contactUsTime.png);
}
.enter-box.ask:before {
  /* width: 87px; */
  background-image: url(/assets/index/ask.png);
}

.enter-box.large {
  height: 181px;
  background-image: url(/assets/index/enterBox_large.png);
}

.send-button {
  position: relative;
  width: 102px;
  height: 34px;
  background-image: url(/assets/button/send.png);
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-top: calc(19px - 42px);
  outline: none;
}

.send-button:hover {
  background-image: url(/assets/button/send_h.png);
}

/* .modal-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
} */

.modal-close {
  appearance: none;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
  padding: unset;
}
.modal-close:checked {
  border: 1px solid red;
}

@media (max-width: 1200px) {
  .contact-us {
    width: 100vw;
    height: 5vw;
  }

  .contact-us-content {
    --contact-us-width: 80vw;
    margin: 10vw auto 0;
    flex-direction: column;
    align-items: center;
  }
  .contact-us-form {
    align-items: center;
    gap: 5vw;
  }
  .orange-box {
    display: none;
  }

  .send-button {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .contact-us-wrapper {
    margin-top: 4rem;
    overflow-x: hidden;
  }
  .contact-us {
    position: relative;
    width: calc(100% - 2.7rem);
    height: 2.2rem;
    margin: 0 auto;
    background-image: url(/assets/mobile/contact/contactUs.png);
  }
  .contact-us-content {
    flex-direction: column;
    gap: 5.5rem;
  }
  .img-wrapper {
    margin: 0;
    width: 100%;
    height: unset;
    gap: 2.8rem;
    align-items: center;
  }
  .image-down {
    position: relative;
    width: 25rem;
    height: 18rem;
    background-image: url(/assets/mobile/contact/image_down.png);
  }
  .orange-box {
    position: relative;
    display: block;
    width: 27rem;
    height: 6.8rem;
    background-image: url(/assets/mobile/contact/word.png);
    margin-left: unset;
  }

  .contact-us-form {
    width: 29.2rem;
    flex-direction: column;
    justify-content: center;
    gap: 4.5rem;
  }
  textarea,
  input {
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    line-height: 1.2;
  }
  .enter-box {
    width: 100%;
    height: 3.1rem;
    font-size: 1.6rem;
    background-image: url(/assets/mobile/contact/enterBox.png);
    background-size: cover;
  }
  .enter-box::before {
    --contact-us-label-height: 2rem;
    content: '';
    position: absolute;
    display: block;
    top: calc(-0.9rem - var(--contact-us-label-height));
    left: 0;
    width: 100%;
    height: var(--contact-us-label-height);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .enter-box.company-name::before {
    background-image: url(/assets/mobile/contact/companyName.png);
  }
  .enter-box.name::before {
    background-image: url(/assets/mobile/contact/name.png);
  }
  .enter-box.phone::before {
    background-image: url(/assets/mobile/contact/phone.png);
  }
  .enter-box.email::before {
    --contact-us-label-height: 1.6rem;
    background-image: url(/assets/mobile/contact/email.png);
  }

  .enter-box.ask::before {
    width: 100%;
    background-image: url(/assets/mobile/contact/ask.png);
  }

  .enter-box.large {
    height: 13.1rem;
    background-image: url(/assets/mobile/contact/enterBox_large.png);
  }

  .enter-checkbox-list {
    position: relative;
    width: 100%;

    padding-left: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    box-sizing: border-box;
  }

  .enter-checkbox {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(/assets/mobile/contact/box.png);
  }
  .enter-checkbox > input {
    padding: unset;
    margin: unset;
    appearance: none;
  }
  .enter-checkbox:has(input[type='checkbox']:checked) {
    background-color: var(--theme-color-hex);
  }
  .enter-checkbox-list::before,
  .enter-checkbox::before {
    content: '';
    position: absolute;
    display: block;

    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .enter-checkbox-list::before {
    top: -3.2rem;
    left: 0;
    width: 100%;
    height: 2.5rem;
    background-image: url(/assets/mobile/contact/need.png);
  }
  .enter-checkbox::before {
    top: 0;
    left: 4rem;
    height: 2.5rem;
    width: 12rem;
  }
  .enter-checkbox.advertising::before {
    background-image: url(/assets/mobile/contact/advertising.png);
  }
  .enter-checkbox.socialMedia::before {
    background-image: url(/assets/mobile/contact/social.png);
  }
  .enter-checkbox.seo::before {
    background-image: url(/assets/mobile/contact/seo.png);
  }
  .enter-checkbox.design::before {
    background-image: url(/assets/mobile/contact/design.png);
  }
  .send-button {
    position: relative;
    width: 102px;
    height: 34px;
    background-image: url(/assets/button/send.png);
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-top: calc(19px - 42px);
    outline: none;
  }

  .send-button:hover {
    background-image: url(/assets/button/send_h.png);
  }

  .send-button {
    margin: 0;
  }
}
