:root {}

.our-service-wrapper {
  position: relative;
  margin: var(--ourService-top) auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 78px;
}

.our-service-wrapper>div:not([class='service-box']),
.our-service-wrapper * div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.our-service {
  position: relative;
  width: 100%;
  height: 50px;
  background-image: url(/assets/index/ourService.webp);
}

.service-box {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 84px;
}

.service-box>div {
  background-position: top;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: TaipeiSansTCBeta, Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 392px;
  padding: 130px 59px 30px;
  position: relative;
  width: 231px;
  letter-spacing: 1px;
  font-weight: bold;
  user-select: none;
  justify-content: space-between;
}

.service-box>div::after {
  content: '';
  position: absolute;
  display: block;
  width: 131px;
  height: 67px;
  background-image: url(/assets/button/more.webp);
  top: calc(27px + 100%);
  left: 50%;
  transform: translateX(-50%);
}

.service-box>div:hover::after {
  /* TODO: 正式需解除 */
  /* background-image: url(/assets/button/more_h.webp); */
}

.service-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;
}

.service-header> :nth-child(2) {
  font-size: 12px;
  letter-spacing: 1.5px;
}

.service-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 18px;
  color: white;
}

.advertising {
  background-image: url(/assets/index/advertising.webp);
}

.seo-service {
  background-image: url(/assets/index/seoService.webp);
}

.social-media {
  background-image: url(/assets/index/socialMedia.webp);
}

.cis {
  background-image: url(/assets/index/cis.webp);
}

.why-musense {
  --why-musense-height: 719px;
  --why-musense-width: 100vw;
  --why-musense-url: url(/assets/index/whyMusense.webp);
  position: relative;
  margin: calc(258px - 78px) 0 0;
  height: var(--why-musense-height);
}

.why-musense::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--why-musense-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: var(--why-musense-width);
  max-height: var(--why-musense-height);
}

@media (max-width: 1200px) and (min-width: 768px) {
  .our-service {
    width: 100vw;
    height: 5vw;
  }

  .our-service-wrapper {
    width: 100%;
    gap: 5vw;
  }

  .service-box {
    position: relative;
    width: calc(15rem * 2 + 30vw);
    margin: 2.8rem auto 0;
    column-gap: 0rem;
    row-gap: 16rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }

  .why-musense {
    --why-musense-height: 38vw;
    margin-top: 10vw;
  }
}

@media (max-width: 768px) {
  .our-service-wrapper {
    margin-top: 3.6rem;
    overflow-x: hidden;
    gap: unset;
    width: 100%;
  }

  .our-service {
    position: relative;
    width: 100%;
    height: 2.2rem;
    margin: 0 auto;
    background-image: url(/assets/mobile/service/ourService.webp);
  }

  .service-box {
    width: calc(15rem * 2 + 15vw);
    margin: 2.8rem auto 0;
    column-gap: 0rem;
    row-gap: 8.3rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }

  .service-box>div {
    position: relative;
    width: 15rem;
    height: 26rem;
    background-position: top;
    /* TODO: 正式需解除 */
    /* cursor: pointer; */
  }

  .service-box>div::after {
    content: '';
    position: absolute;
    display: block;
    width: 9rem;
    height: 4.5rem;
    background-image: url(/assets/mobile/service/more.webp);
    top: calc(1.4rem + 100%);
    left: 50%;
    transform: translateX(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .service-box>div:hover::after {
    /* TODO: 正式需解除 */
    /* background-image: url(/assets/button/more_h.webp); */
  }

  .advertising {
    background-image: url(/assets/mobile/service/advertising.webp);
  }

  .seo-service {
    background-image: url(/assets/mobile/service/seoService.webp);
  }

  .social-media {
    background-image: url(/assets/mobile/service/socialMedia.webp);
  }

  .cis {
    background-image: url(/assets/mobile/service/cis.webp);
  }

  .why-musense {
    margin-top: 7rem;
    --why-musense-height: 33rem;
    --why-musense-url: url(/assets/mobile/service/whyMusense.webp);
  }
}