.footer-wrapper {
  position: relative;
  bottom: 0;
  height: 298px;
  background-image: url(/assets/mobile/footer/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 90px;
  font-family: Openhuninn;

  letter-spacing: 4px;

  width: 100vw;
  margin-inline-start: 50%;
  transform: translateX(-50%);
}
.footer-wrapper.marketing {
  margin-top: 154px;
}

.footer-wrapper.content {
  margin-top: -1px;
}

.footer-wrapper * div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-box {
  position: absolute;
  margin-top: 57px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--contact-us-width);
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */

  /* gap: 168px; */
  gap:clamp(0rem , 0rem + 10vw, 168px);
}

.left-side,
.right-side {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 17px;
}

.left-side {
  width: 482px;
  font-size: 16px;
}

.right-side {
  width: 400px;
  font-size: 14px;
  justify-content: flex-end;
}

.button-box {
  position: inherit;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 143px;
  align-items: center;
}
.contact-us-btn {
  position: relative;
  width: 100%;
  height: 44px;
  background-image: url(/assets/mobile/footer/contactUsDown.webp);
  /* background-position: left !important; */
  /* cursor: pointer; */
}
/* .contact-us-btn:hover {
  background-image: url(/assets/mobile/footer/button/contactButton_h.webp);
} */

.social-btn-box {
  position: relative;
  width: 100%;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.social-btn-box > a {
  position: relative;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.fb-icon {
  background-image: url(/assets/mobile/footer/FBIcon.webp);
}
.ig-icon {
  background-image: url(/assets/mobile/footer/IGIcon.webp);
}
.ms-icon {
  background-image: url(/assets/mobile/footer/MSIcon.webp);
}
.mail-icon {
  background-image: url(/assets/mobile/footer/MailIcon.webp);
}
.aa {
  font-size: 22px;
  padding-bottom: 21px;
  font-family: TaipeiSansTCBeta;
}

@media (max-width: 1200px) {
  .footer-wrapper {
    width: 100vw;
    height: 338px;
    background-image: url(/assets/mobile/footer/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 90px;
    font-family: Openhuninn;
    letter-spacing: 4px;
  }

  .footer-box {
    /* width: 90vw; */
  }

  .left-side {
    width: 335px;
  }

  .right-side {
    width: 290px;
    white-space: normal;
  }
}

@media (max-width: 768px) {
  .footer-wrapper {
    margin-top: 5.3rem;
    height: 29.8rem;
    background-image: url(/assets/mobile/footer/footer.webp);
  }
  .footer-box {
    width: calc(100% - 3.6rem);
    height: 100%;
    margin: unset;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-evenly;
  }
  .left-side,
  .right-side {
    width: 100%;
    line-height: 1;
  }
  .left-side .logo {
    width: 30vw;
  }

  .left-side {
    width: 100%;
    align-items: center;
    gap: 1.3rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }

  .right-side {
    font-size: 0.9rem;
    align-items: center;
  }

  .button-box {
    flex-direction: row;
    width: fit-content;
    gap: 2.5rem;
  }
  .contact-us-btn {
    width: 11.6rem;
    height: 4rem;
    background-image: url(/assets/mobile/footer/contactUsDown.webp);
  }
  .social-btn-box {
    width: unset;
    gap: 1.3rem;
  }
  .social-btn-box > a {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    background-size: 100%;
    cursor: pointer;
  }
  .fb-icon {
    background-image: url(/assets/mobile/footer/FBIcon.webp);
  }
  .ig-icon {
    background-image: url(/assets/mobile/footer/IGIcon.webp);
  }
  .copyright {
    text-align: center;
    white-space: pre;
    line-height: 1.2;
  }
}
