header {
  position: fixed;
  /* padding: 0 390px 22px; */
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  box-shadow: 0px 5px 3px 0px #eee;
  background-color: #fff;
  z-index: 99999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  transition: top 0.2s ease-in;
}

header.hide {
  top: calc(var(--n-header-height) - 5px - 3px);
}
header.show {
  top: 0;
}

.navbar-wrapper{
  position: relative;
  margin: 0 auto 22px;;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 245px;
}
.navbar {
  position: relative;
  /* top: 120px;
  left: 909px; */
}

nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 54px;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  width: 115px;
  height: 34px;
}

nav ul li a {
  position: relative;
  cursor: pointer;
  color: transparent;
  -webkit-user-select: none;
  user-select: none;
}
nav ul li button:focus,
nav ul li button:active {
  outline: unset;
}
[data-tooltip]::before{
  position: absolute;
  content: attr(data-tooltip);
  width: 90px;
  height: 40px;
  background-color: #aaa;
  color: #fff;
  border-radius: 15px;
  border-color: currentColor;
  text-align: center;
  line-height: 40px;
  top: 0;
  left: 50%;
  letter-spacing: 1.5px;
  transform: translate(0, -0%);
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
}

[data-tooltip]:hover::before {
  opacity: 1;
  transform: translate(70%, 0);
}
.navBtn {
  position: absolute;
  width: 115px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.about {
  background-image: url(./../../../assets/img/about.png);
}
.service {
  background-image: url(./../../../assets/img/service.png);
}
.contactUs {
  background-image: url(./../../../assets/img/contactUs.png);
}
.marketing {
  background-image: url(./../../../assets/img/marketing.png);
}
