.logo {
  position: relative;
  width: var(--logo-width);
  /* max-height: 68px; */
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}
.logo > img {
  width: 100%;
}
/* tablets */
@media (max-width: 1200px) {
  .logo {
    margin: 0 auto;
  }

  .logo.header {
    --logo-width:16rem;
  }
  .logo.footer {
    --logo-width:16rem;
  }
}
