.logo {
  position: relative;
  width: 274px;
  height: 68px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  /* background-image: url(./../.../../../../assets//img/logo.png); */
}

.logo.gray{
    background-image: url(./../.../../../../assets//img/logo_gray.png);
}
.logo.white{
    background-image: url(./../.../../../../assets//img/logo_white.png);
}