---
import FooterLayout from '@components/layout/footerLayout';
import HeaderLayout from '@components/layout/headerLayout';

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.ico'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
    <meta
      name='description'
      content={description}
    />
  </head>
  <body id='root'>
    <HeaderLayout client:load />

    <slot />

    <FooterLayout client:idle />
  </body>
</html>

<style is:global>
  :root {
    --n-header-height: -120px;
    --header-height: 120px;
    --top-offset: calc(var(--header-height) + 282px - 186px);
    --ourService-top: calc(var(--top-offset) + 95px);
    --banner-top-offset: calc(var(--header-height) + 44px);
    --contact-us-width: 1240px;

    --clamp-line: 3;
  }
  html {
    height: 100%;
    overflow: auto;
  }
  body {
    height: 100%;
  }
</style>
