---
import HeaderLayout from '@components/layout/headerLayout';
import ButtonLayout from '@components/layout/buttonLayout';
import FooterLayout from '@components/layout/footerLayout';
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang='zh-tw'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href={`/favicon.ico`}
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
    <meta
      name='description'
      content={description}
    />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-PQVK3G7');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body id='root'>
    <HeaderLayout client:load />
    <ButtonLayout client:media='(max-width: 768px)' />
    <slot />

    <FooterLayout client:load />

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src='https://www.googletagmanager.com/ns.html?id=GTM-PQVK3G7'
        height='0'
        width='0'
        style='display:none;visibility:hidden'
      ></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>

<style is:global>
  html,
  body {
    overflow-x: hidden;
    margin: 0;
  }
  @font-face {
    font-family: Openhuninn;
    src: url(/fonts/jf-openhuninn-2.0.ttf) format('ttf');
  }
  @font-face {
    font-family: TaipeiSansTCBeta;
    src: url(/fonts/TaipeiSansTCBeta-Regular.ttf) format('ttf');
  }
  :root {
    --ourService-top: 95px;
    --banner-top-offset: calc(var(--header-height) + 44px);
    --clamp-line: 3;
    --header-z-index: 99999;
    --theme-color-hex: #f88d2a;
    --theme-color-rgb: 248, 141, 42;
    --header-btn-width: 11.5rem;
    --header-btn-height: 3.5rem;
  }
  html {
    font-size: 62.5%;
    overflow: auto;
  }

  input:focus-visible,
  textarea:focus-visible {
    outline: unset;
  }

  header {
    --header-height: 136px;
    position: fixed;
    box-sizing: border-box;
    inset: 0;
    height: var(--header-height);
    box-shadow: 0px 5px 3px 0px #eee;
    background-color: #fff;
    z-index: var(--header-z-index);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    transition: top 0.2s ease-in;
  }

  header.hide {
    --n-header-height: -136px;
    top: calc(var(--n-header-height) - 5px - 3px);
  }
  header.show {
    top: 0;
  }


  nav {
    position: relative;
    display: inline-block;
  }
  ul {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 54px;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    width: var(--header-btn-width);
    height: var(--header-btn-height);
  }

  button,
  a {
    padding: 0;
    position: relative;
    cursor: pointer;
    color: transparent;
    -webkit-user-select: none;
    user-select: none;
  }

  [data-tooltip]::before {
    position: absolute;
    content: attr(data-tooltip);
    width: 90px;
    height: 40px;
    background-color: #aaa;
    color: #fff;
    border-radius: 15px;
    border-color: currentColor;
    text-align: center;
    line-height: 40px;
    top: 0;
    left: 50%;
    letter-spacing: 1.5px;
    transform: translate(0, -0%);
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;
  }

  [data-tooltip]:hover::before {
    opacity: 1;
    transform: translate(70%, 0);
  }
  .navBtn {
    position: absolute;
    width: var(--header-btn-width);
    height: var(--header-btn-height);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
  }
  .navBtn:focus-visible {
    outline: none;
  }
  .about {
    background-image: url(/assets/menu/about.webp);
  }
  .service {
    background-image: url(/assets/menu/service.webp);
  }
  .contact {
    background-image: url(/assets/menu/contact.webp);
  }
  .marketing {
    background-image: url(/assets/menu/marketing.webp);
  }

  .navbar-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    gap: 245px;
    margin: 0 auto 22px;
  }
  /* @media (max-width: 1200px) {

    header {
      height: 19rem;
      align-items: flex-end;
      --n-header-height: -19rem;
    }
  } */
  /* desktops */
  @media (max-width: 1200px) {
    html {
      font-family: Openhuninn;
    }

    header {
      --header-height: 10rem;
    }
    header.hide {
      --n-header-height: -10rem;
    }
    .navbar-wrapper {
      width: 100%;
    }
    nav {
      position: absolute;
      display: block;
      right: 0;
      top: 6.6rem;
      width: 20.2rem;
      height: 34rem;
      background-image: url(/assets/mobile/header/menu_bg.webp);
      transition: transform 0.2s ease-in-out;
      background-size: contain;
      background-repeat: no-repeat;
      transform-origin: top right;
      box-sizing: border-box;
      padding: 4rem 0;
      transform: scale(0);
    }
    nav.active {
      transform: scale(1);
    }

    ul {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      box-sizing: border-box;
      gap: unset;
    }
    li {
      --header-btn-width: 12.3rem;
      --header-btn-height: 3.3rem;
      width: var(--header-btn-width);
      height: var(--header-btn-height);
    }

    nav ul li button:focus,
    nav ul li button:active {
      outline: unset;
    }

    .about {
      background-image: url(/assets/mobile/header/about.webp);
    }
    .service {
      background-image: url(/assets/mobile/header/service.webp);
    }
    .contact {
      background-image: url(/assets/mobile/header/contact.webp);
    }
    .marketing {
      background-image: url(/assets/mobile/header/marketing.webp);
    }

    .btn-wrapper {
      --fixed-btn-width: 11.5rem;
      --fixed-btn-gap: 2rem;
      position: fixed;
      width: calc(var(--fixed-btn-width) * 3 + var(--fixed-btn-gap) * 2);
      height: 3.7rem;
      bottom: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /* background-color: #ccc; */
      z-index: var(--header-z-index);
      box-sizing: border-box;
      padding: 0 0.7rem;
      left: 50%;
      transform: translateX(-50%);
    }

    .fixedBtn {
      position: relative;
      width: var(--fixed-btn-width);
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: transparent;
      border: none;
    }
    .fixedBtn:focus-visible {
      outline: none;
    }
    .fb-btn {
      background-image: url(/assets/mobile/header/fb.webp);
    }
    .ig-btn {
      background-image: url(/assets/mobile/header/ig.webp);
    }
    .email-btn {
      background-image: url(/assets/mobile/header/email.webp);
    }
  }

  @media (max-width: 1200px) {
    [data-tooltip]::before {
      transform: translate(-29%, -0%);
      transition: transform 0.2s, opacity 0.2s;
    }

    [data-tooltip]:hover::before {
      transform: translate(-29%, 100%);
    }
  }
</style>
